<h2>Usuarios:</h2>
<hr>
<ul>
    {{#each usuarios}}
        <li>
            {{code}}) {{first_name}} {{last_name}}
        </li>
    {{/each}}
</ul>

<br>
<a href="/usuarios?page=1">Pág.1</a>

{{#if hasPrevPage}}
    <a href="/usuarios?page={{prevPage}}">Pág.Prev.</a>
{{else}}
    <a href="/usuarios?page={{prevPage}}" class="disabled">Pág.Prev.</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/usuarios?page={{nextPage}}">Pág.Sig.</a>
{{else}}
    <a href="/usuarios?page={{nextPage}}" class="disabled">Pág.Sig.</a>
{{/if}}


<a href="/usuarios?page={{totalPages}}">Ult.Pág</a>