<h2>Alumno {{alumno.nombre}}</h2>
<hr>
<ul>
    {{#each cursando}}
        <li>
            {{nombre}} | {{reinscripciones}}
        </li>
    {{/each}}
</ul>

<br>
<h2>Oferta de cursos</h2>
<hr>
<ul id="cursos">
    {{#each cursos}}
        <li>
            {{nombre}} - horas: {{horas}} <button>Agregar</button>
        </li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/alumno.js"></script>