<h2>Alumno {{alumno.nombre}} <span id="idAlumno" hidden>{{alumno._id}}</span></h2>
<hr>
<ul>
    {{#each alumno.cursando}}
        <li>
            {{nombre}} - <b>reinscripciones:</b> {{reinscripciones}}
        </li>
    {{/each}}
</ul>

<br>
<h2>Oferta de cursos</h2>
<hr>
<ul id="cursos">
    {{#each cursos}}
        <li>
            {{nombre}} - horas: {{horas}} <button onclick="inscribir('{{_id}}')">Agregar</button>
        </li>
    {{/each}}
</ul>

<a href="/alumnos">Volver</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/alumno.js"></script>